canvas{
    color: black;
}

a{
    font-family: 'Black Ops One', cursive;
    color: white;
    text-align: center;
    font-size: 50px;
    display: block;
    border: 2px dashed white;
    border-radius: 15px;
    text-decoration: none;
    margin-left: 500px;
    margin-right: 500px;
}

p{
   font-family: 'Black Ops One', cursive;
   color: white;
   text-align: center;  
   font-size: 60px;
}

a:hover{
    background-color: black;
}

body {
    background-image: url("http://basik.ru/images/snakes_67/19_wallpaper_snakes.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
    }