body{
    margin: 0;
    padding: 0;
    border: 15px dotted grey;
    background-color: #FF4500;
}

#game-screen{
    display: block;
}

#gameOver, #playHUD, audio{
    position: absolute;
    visibility: hidden;
}

h1, h2, h3{
    font-family: 'Black Ops One', cursive;
    color: white;
    text-align: center;
}

.title{
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton{
    border: 2px dashed white;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 40px;
}

#restartButton:hover{
    background-color: #FF4500;
}

#scoreboard{
    margin: 0px;
}
div {
    display: none;
}
